#hm {
    font-family: 'Galada', cursive;
    font-size: 65px;
    margin-right: 50px;
}
#display {
    display: inline-block;
    position: fixed;
    color: black;
}
#slide img {
    margin-top: 78px;
    width: 100%;
    height: 480px;
}
#move {
    text-align: center;
    font-size: 65px;
    color: burlywood;

}
#wd {
    word-spacing: 40px;
}.list li {
    list-style: none;
}
#size img {
    width: 250px;
    height: 500px;
}
#nice img {
    width: 350px;
    height: 250px
}
 #size img :hover{
    background-color: yellow;
}
#size{
    margin-bottom: 50px;
}
#sell{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}
