#hm {
    font-family: 'Galada', cursive;
    font-size: 65px;
    margin-right: 50px;
}
#display {
    display: inline-block;
    position: fixed;
}
#slide img {
    margin-top: 78px;
    width: 100%;
    height: 480px;
}
#move {
    text-align: center;
    font-size: 65px;
    margin-top: 1px solid black;
    margin-bottom: 1px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
}
#wd {
    word-spacing: 40px;
}
.callout li {
    list-style: none;
}
#size img {
    widows: 250px;
    height: 500px;
}
#nice img {
    width: 350px;
    height: 250px
}
 #size img :hover{
    background-color: yellow;
}
#size{
    margin-bottom: 50px;
}
